<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>ECサイト</title>
</head>
<body>
    <header>
		<h1>My EC Site</h1>
	</header>
	
	<table id="adminTable">
		<thead>
			<tr>
				<th>Id</th><th>商品名</th><th>価格</th><th>削除</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item: ${goods}">
				<td th:text="${item.id}"/>
				<td th:text="${item.goodsName}"/>
				<td th:text="${item.price}"/>
				<td><button type="submit" class="deleteBtn">削除</button></td>
			</tr>
		</tbody>
	</table>
	<form name="goodsForm" id="adminPage" method="post" action="/eecsite/admin/goodsMst" th:action="@{/ecsite/admin/goodsMst}">
		<button type="submit" th:if="${userName != nuLL}">新規追加</button>
		<input type="hidden" name="userName" th:value="${userName}"/>
		<input type="hidden" name="password" th:value="${password}"/>
	</form>
</body>
</html>